---
import Container from "../components/Container.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RANDY STANDARDS - SLAMMING SOME HTML</title>
	</head>
	
	<body bgcolor="hotpink" background="data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='indigo' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E">
		<Container>
			<h1><center>RANDY STANDARDS</center></h1>
			<center><img src="/randy-standards.png" alt="A picture of Randy Standards"></center>
<p><center>LET'S HTML THERE BROTHER. OOOOOOHHHH YYEEEEEAAAHHHHH</center></p>
		</Container>
	</body>
</html>
